{
  "singleQuote": true,
  "tabWidth": 2,
  "extends": ["@wordpress/prettier-config"],
  "plugins": [
    "@prettier/plugin-php",
    "prettier-plugin-tailwindcss",
    "./plugins/prettier-plugin-wp-php.mjs"
  ]
}
